div.img-resize img {
    width: auto; /* เปลี่ยนเป็น auto เพื่อให้ภาพปรับขนาดตามความกว้าง */
    height: 100%; /* กำหนดความสูงเป็น 100% เพื่อให้ภาพเต็มความสูงของ div */
    display: block; /* ทำให้ภาพอยู่ตรงกลางของ div */
    margin: 0 auto; /* จัดตำแหน่งให้ภาพอยู่ตรงกลางตามแนวนอน */
}

div.img-resize {
    width: 200px; /* ปรับขนาดของ div เพื่อให้ภาพใหญ่ขึ้น */
    height: 200px; /* ปรับขนาดของ div เพื่อให้ภาพใหญ่ขึ้น */
    overflow: hidden;
    text-align: center;
}
/* page2.css */

/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Portfolio section styles */
  #portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  figure {
    margin: 10px;
    text-align: center;
  }
  
  figcaption {
    margin-top: 10px;
  }
  
  figcaption h4 {
    font-size: 16px;
    color: #333;
  }
  
  .img-resize img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Contact section styles */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  