div.img-resize img {
    width: auto; /* เปลี่ยนเป็น auto เพื่อให้ภาพปรับขนาดตามความกว้าง */
    height: 100%; /* กำหนดความสูงเป็น 100% เพื่อให้ภาพเต็มความสูงของ div */
    display: block; /* ทำให้ภาพอยู่ตรงกลางของ div */
    margin: 0 auto; /* จัดตำแหน่งให้ภาพอยู่ตรงกลางตามแนวนอน */
}

div.img-resize {
    width: 200px; /* ปรับขนาดของ div เพื่อให้ภาพใหญ่ขึ้น */
    height: 200px; /* ปรับขนาดของ div เพื่อให้ภาพใหญ่ขึ้น */
    overflow: hidden;
    text-align: center;
}
